* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    list-style-type: none;
    text-align: center;
    background-color: rgb(88,88,88);
    padding: 10px;
}

nav li {
    display: inline;
    padding: 50px;
    color: rgb(240,240,240);
    font-size: 20px;
}

.linkStyle {
    text-decoration: none;
    transition-duration: 0.2s;
}

.linkStyle:hover {
    opacity: 70%;
    transition-duration: 0.2s;
}

.clickedLink {
    text-decoration: underline;
    text-decoration-color: rgb(240,240,240);
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
}

.serviceList {
    text-align: center;
}