* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: rgb(88,88,88);
    box-shadow: 0 0 15px 0 black;
}

nav li {
    display: inline;
    padding: 50px;
    font-size: 20px;
}

.linkStyle {
    color: rgb(180,180,180);
    text-decoration: none;
    transition-duration: 0.2s;
}

.linkStyle:hover {
    color: rgb(240,240,240);
    text-decoration: underline;
    text-decoration-color: rgb(240,240,240);
    transition-duration: 0.2s;
}

.clickedLink {
    color: rgb(240,240,240);
    text-decoration: underline;
    text-decoration-color: rgb(240,240,240);
}

main {
    margin-top: 40px;
    padding: 50px;
}

h1 {
    text-align: center;
}

.serviceList {
    text-align: center;
    padding: 50px;
}

.serviceStyle {
    text-decoration: none;
    color: black;
}

.serviceStyle:hover {
    text-decoration: underline;
}